PARTITION = 'smarx'
BLOG_NAME = "Steve Marx's blog"
DESCRIPTION = "Steve Marx's blog"
AUTHOR = 'Steve Marx'
CHANNEL_ID = "uuid:0208fc92-f6be-4ca6-92d5-968889fd9099"
BLOG_URL = 'http://blog.smarx.com'
EMAIL_ADDRESS = 'smarx@smarx.com'
USERNAME = 'BLOGUSERNAME'
PASSWORD = 'BLOGPASSWORD'

WAZ::Storage::Base.establish_connection(:account_name => 'CLOUDSTORAGEACCOUNTFORDEVELOPMENT',
  :access_key => 'STORAGEKEYFORDEVELOPMENT')

configure :production do
  WAZ::Storage::Base.establish_connection(:account_name => 'CLOUDSTORAGEACCOUNTFORPRODUCTION',
    :access_key => 'CLOUDSTORAGEKEYFORPRODUCTION')
  CDN_HOST = 'cdn.blog.smarx.com' # can be ommitted
end