!!! 5
%html
  %head
    %title= defined?(title) ? title : "Steve Marx's blog"
    %link{:href => "/content/stylesheet.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/rss", :title => "blog.smarx.com - RSS", :rel => "alternate", :type => "application/rss+xml"}
    %link{:href => "/atom", :title => "blog.smarx.com - Atom", :rel => "alternate", :type => "application/atom+xml"}
    %link{:href => "/metaweblog", :rel => "EditURI", :title => "RSD", :type => "application/rsd+xml"}
  %body
    #main
      .header
        %h1
          %a{:href => "http://blog.smarx.com"} Steve Marx's blog
        %h2 programming and entrepreneurship
      #sidebar
        #about
          %h2.sidebar-title author
          %img#headshot{:src => "/content/images/headshot.jpg", :alt => "Steve Marx"}
          Steve Marx is a programmer and entrepreneur (who no longer works at Microsoft)
        #contact
          %h2.sidebar-title contact
          %ul
            %li
              %a{:href => "http://blog.smarx.com"} blog.smarx.com
            %li
              %a{:href => "mailto:smarx@smarx.com"} smarx@smarx.com
            %li
              %a{:href => "http://twitter.com/smarx"} @smarx
        #twitter_div
          %h2.sidebar-title tweets
          %ul#twitter_update_list
          %a#twitter-link{:href => "http://twitter.com/smarx"} follow smarx
        #subscribe
          %h2.sidebar-title subscribe
          %ul
            %li
              %img{:src => "/content/images/feed-icon-14x14.png", :alt => "subscribe"}
              %a{:href => "/atom"} Atom
          %ul
            %li
              %img{:src => "/content/images/feed-icon-14x14.png", :alt => "subscribe"}
              %a{:href => "/rss"} RSS
      #content
        =yield
    %script{:type => "text/javascript", :src => "/content/javascript/twsearch.js"}
    %script{:type => "text/javascript", :src => "http://search.twitter.com/search.json?rpp=5&callback=twsearch&q=smarx"}